# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/
*.code-workspace

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

*.log

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.expo/
web-build/

