# Mobile App Environment
# Physical device: set to your PC LAN IP (e.g. 192.168.1.x)
# iOS Simulator: localhost
# Android Emulator: 10.0.2.2
EXPO_PUBLIC_API_HOST=192.168.12.195
EXPO_PUBLIC_API_PORT=8002
